body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.jumbotron {
    background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#projects-list {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
